<%- include("partials/header") -%>

<div class="content">
    <div class="comments">    
        <h1><i class="fa-solid fa-comments" style="color: #DDA0DD;"></i> All Comments</h1>          
        <hr />
        <div id="comments-list">
            <% if(comments.length > 0) { %>
                <% comments.forEach(function(comment) { %>
                    <div class="comment">                    
                        <span class="user-info">
                            <i class="fa-solid fa-calendar-days"></i> <%= moment(comment.date).format("DD/MM/YYYY - hh:mm:ss") %></i>
                        </span>
                        <span class="user-comment">
                            <%= comment.text %>
                            <% if(comment.user_id._id.toString() === userID.toString()) { %>
                                <a href="/comment/delete/<%= comment._id %>/2">
                                    <span class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>    
                                </a>                        
                            <% } %>
                        </span>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="comment" style="text-align: center; height: 100%; margin-top: 20px;">
                    <i class="fa-solid fa-face-frown fa-5x" style="color: #f00; margin-top: 20px;"></i>
                    <p style="font-size: 28px; padding-bottom: 10px;">You haven't made any comments yet.<br />How about looking at the posts and see what happens?</p>
                </div>
            <% } %>    
        </div>
    </div>

</div>

<script>

    async function setLike(article_id) {
        
        const icon = document.querySelector('#icon')
        let num_likes = document.querySelector('#num_likes')       

        try {
            const res = await fetch('/article/like/' + article_id, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await res.json()
            if(data.liked) {
                let likes = num_likes.innerHTML
                likes++
                num_likes.innerHTML = likes
                icon.classList.remove("fa-regular", "fa-heart")
                icon.classList.add("fa-solid", "fa-heart", "liked")
            }
            else if(!data.liked) {
                let likes = num_likes.innerHTML
                likes--
                num_likes.innerHTML = likes
                icon.classList.remove("fa-solid", "fa-heart", "liked")
                icon.classList.add("fa-regular", "fa-heart")                
            }
        } 
        catch (error) {
            console.log(error)
        }

    }
</script>
    
<%- include("partials/footer") -%>